<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>books</title>
  <style>
    .main{
      max-width:720px;
      margin: 0 auto 0 auto;
    }
    
  </style>
</head>
<body >
  <div class="main">
  <h1 align="center">online books</h1>
  <img src="https://chaitnaya-website.chaitanyagopide.repl.co/static/book.jpg" height="100px" width="100%"/>
  <h2 >ABOUT BOOKS.IN</h2>
  <p>
    Books.in is an online platform that offers a vast collection of books in various genres. With its user-friendly interface and easy navigation, finding your favorite books has never been easier. The website has a diverse collection of books ranging from classics to contemporary novels, and from fiction to non-fiction. Additionally, books.in provides a personalized reading experience with features such as recommendations, user reviews, and ratings. The website also offers flexible payment options and fast delivery, making it a convenient platform for book lovers worldwide. Whether you are an avid reader or simply looking to expand your literary horizons, books.in is the perfect destination for all your reading needs.
  </p>
  <h2 >AVALIABLE BOOKS</h2>
    

   <div align="center">

  <button>contact us</button>
   </div>
</div>

  
</body>

  
</html>